apiVersion: v1
kind: Secret
metadata:
  name: fails-secrets
type: Opaque
stringData:
  keys_secret: "SecretForEncryptingJWTKeys"
  swift_key: "KeyForSecuringURLsOfYourSwiftStoreForAsstes"
  swift_password: "PasswordForYourSwiftStore"
  redis_pass: "REDISPassword"
  mongo_password: "PasswordForYourMongoDBFails"