apiVersion: v1
kind: Secret
metadata:
  name: fails-secrets
type: Opaque
stringData:
  keys_secret: "SecretForEncryptingJWTKeys"
  swift_key: "KeyForSecuringURLsOfYourSwiftStoreForAssetsIfYouUseSwift"
  swift_password: "PasswordForYourSwiftStoreIfYouUseSwift"
  s3_sk_key: "SigningKeyIfYouUseS3Storage"
  redis_pass: "REDISPassword"
  mongo_password: "PasswordForYourMongoDBFails"
  avs_regions: "nameofregion|AVSSECRET|IPLIMITS|GEOPOS nameofregion2|AVSSECRET|IPLIMITS|GEOPOS"